.btn-apply-submit {
  color: #ff8c00;
  /* background-color: #e1e1e1; */
}
.btn-apply-cancel {
  color: #ff8c00;
  margin-left: 3%;
}
.comments-textarea {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: 1px solid #ff8c00;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.comments-textarea:focus {
  border-color: #ff8c00;
  box-shadow: 0 0 3px 1px #ff8c00;
}
.dialog-align {
  margin-right: 2%;
  margin-top: -3%;
  float: inline-end;
}
