.project-card {
  width: 80%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-top: 4%;
}

.chip {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.2em;
  background-color: #e0e0e0;
  border-radius: 16px;
  font-size: 14px;
}
.header {
  margin-left: 5%;
}
.createProject {
  margin-bottom: -2%;
  background-color: #e0e0e0;
  color: #ff8c00;
  margin-left: 5%;
  margin-top: 2%;
}
.button-apply {
  color: #ff8c00;
  /* background-color: #e1e1e1; */
}
.button-delete {
  color: #ff8c00;
  /* background-color: #e1e1e1; */
  margin-left: 3%;
}
