<h2 mat-dialog-title>Project Applications</h2>
<div *ngIf="applications && applications.length > 0">
  <ul class="comment-list">
    <li *ngFor="let application of applications" class="comment-item">
      <div class="comment-header">
        <p class="comment-email">{{ application.email }}</p>
      </div>
      <div class="comment-body">
        <p class="comment-text">{{ application.comments }}</p>
        <div
          *ngIf="
            application.status !== 'approved' &&
            application.status !== 'rejected'
          "
          class="button-box"
        >
          <button
            mat-button
            color="primary"
            (click)="updateProjectApplicationStatus(application.id, 'approved')"
          >
            Approve
          </button>
          <button
            mat-button
            color="warn"
            (click)="updateProjectApplicationStatus(application.id, 'rejected')"
          >
            Reject
          </button>
        </div>
        <p *ngIf="application.status === 'approved'" class="status-approved">
          Approved
        </p>
        <p *ngIf="application.status === 'rejected'" class="status-rejected">
          Rejected
        </p>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="!applications || applications.length === 0">
  <p>No applications found for this project.</p>
</div>
<button mat-button (click)="closeDialog()">Close</button>
